div {
    .left{
        float: left;
        width: 50%;
    }
    .right {
        float: right;
        width: 50%; 
    }
    .in {
        width: 100%;
    }
    .table {
        margin: 1em auto 1em;
        width: 100%;
        text-align: center;
    }
    .forms {
        width: 100%;
    }
    .pad {
        width: 100%;
        margin-top: 10px;
    }
}
